# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db

# docs for process - hiding so they don't distract
./docs/

# Configuration files with sensitive data
src/config/mcp_server_config.json

# Ignore files in doc/archive
doc/archive/*
